@mixin flex-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

body {
  height: 100vh;
}

.greeting {
  width: 80%;
  height: 100px;
  border-radius: 22px;
  background-color: rgba(18, 199, 63, 0.664);
  font-weight: 500;
  margin-top: 40px;

  @include flex-col();

  &__title {
    font-size: 20px;
  }

  &__text {
    font-size: 16px;
  }
}

.navbar__container {
  @include flex-row();
  flex-wrap: wrap;
  justify-content: space-between;
  width: 60%;
}

.nameShow {
  display: flex;
  align-items: center;
  margin-right: 10px;
}
.task__color {
  padding: 0;
}
.counter__container {
  display: flex;
  align-items: center;
}

.counter__tasks {
  font-size: 18px;
  font-weight: 700;
  margin: 5px 0 0 10px;
}

@import "../src/components/regestration/style/index.scss";
@import "../src/components/setting/style/index.scss";

.hide {
  display: none;
}
