.reg {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  position: relative;

  &__container {
    @include flex-col();
    position: absolute;
    top: 40px;
    background-color: #24ac2f70;
    width: 800px;
    border-radius: 20px;
    justify-content: flex-start;

    &__title {
      font-size: 20px;
      font-weight: 500;
      padding-top: 40px;
      padding-bottom: 30px;
    }

    &__row {
      @include flex-col();
      align-items: flex-start;
      width: 40%;
      padding-bottom: 20px;

      &__text {
        font-size: 12px;
      }
      &__input {
        width: 100%;
        border: none;
        height: 28px;
        border-radius: 4px;
        outline: none;
      }
    }

    &__error {
      width: 40%;
      font-size: 12px;
      color: red;
      padding-bottom: 10px;
    }

    &__btn {
      margin-bottom: 40px;

      &__container {
        width: 40%;
      }
    }
  }
}
